<!DOCTYPE html>
<html lang="en">
<head>

    <!-- Basic Page Needs
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <meta charset="utf-8">
    <title>Herd</title>
    <meta name="description" content="All of the currently trending content on the internet- in one place">
    <meta name="author" content="Max Harlynking">

    <!-- Mobile Specific Metas
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- FONT
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">

    <!-- CSS
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/skeleton.css">
    <link rel="stylesheet" href="css/flaticon.css">
    <link rel="stylesheet" href="css/herd.css">
    
    <!-- JS
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.isotope/2.2.2/isotope.pkgd.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
   <script src="js/scripts.js"></script>

    <!-- Favicon
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link rel="icon" type="image/png" href="images/favicon.png">
    <link rel="apple-touch-icon" href="images/favicon.png">

</head>
<body>

    <!-- Primary Page Layout
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <div class="body container">
    <div class="header-container">
        <%- include ./headerPartial.ejs %>
    </div>
    <div class="row" style="margin-bottom:0px; margin-left: 3%;">
            <h3>See what's trending now</h3>
    </div>
    <div class="content-container">

    </div>
    <div class="loading center">
        <img src="images/loader.gif" style="height:100px;padding-bottom:40px">
    </div>
    </div>
    <div class="overlay">
        <%- include ./loginPartial.ejs %>
    </div>
    <div class="content-viewer">
        <%- include ./contentPartial.ejs %>
    </div>
    <div class="user-options">
        <%- include ./userPartial.ejs %>
    </div>

    <!-- End Document
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
</body>
</html>
