<div class="center-box">
    <h2 class="center center-box-header">Join the herd<span style=" color: #FF2727">.</span></h2>
    <form id="login-form">
        <div class="center" style="padding-top:30px">
            <p id="new-member"><b>New member?</b></p>
            <input placeholder="Username" class="login-input" id="username-input" required>
        </div>
        <div class="center">
            <input placeholder="Password" type="password" class="login-input" id="password-input" required>
        </div>
        <div class="center">
            <button class="user-submit" type="submit">Login</button>
        </div>
    </form>
    <form id="register-form">
        <div class="center" style="padding-top:30px">
            <p id="returning-member"><b>Returning member?</b></p>
            <input placeholder="Email Address" class="login-input" id="new-email-input" type="email" required>
        </div>
        <div class="center">
            <input placeholder="New Username" class="login-input" id="new-username-input" required>
        </div>
        <div class="center">
            <input placeholder="New Password" class="login-input" type="password" id="new-password-input" required>
        </div>
        <div class="center">
            <input placeholder="Re-Enter Password" type="password" class="login-input" id="new-repeat-password-input" required>
        </div>
        <div class="center">
            <button class="user-submit" type="submit">Register</button>
        </div>
    </form>
</div>